body{
  font-family: 'Montserrat'!important;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
       url("../fonts/Framework7Icons-Regular.woff") format("woff"),
       url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.f7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: center;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  /*color: #fff;*/
  color:#a09f9f;
}
::-moz-placeholder { /* Firefox 19+ */
  /*color: #fff;*/
  color:#a09f9f;
}
:-ms-input-placeholder { /* IE 10+ */
  /*color: #fff;*/
  color:#a09f9f;
}
:-moz-placeholder { /* Firefox 18- */
  /*color: #fff;*/
  color:#a09f9f;
}
/*.login-screen-content,.dashboard-screen-content,.vstdata,.novehdata{*/
.login-screen-content{
    /*background:#afd89f;    
    background: #0d0850;*/
    /*background: #afd89f;*/
    background:rgba(0, 0, 0, 0) url("../img/login.jpg") no-repeat fixed center center / cover;
    /*background:rgba(0, 0, 0, 0) url("../img/login_bg.jpg") no-repeat fixed center center / cover;*/


    /*background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);*/
    /*background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);*/
    /*background:rgba(0, 0, 0, 0) url("../img/login_bg6.jpg") no-repeat fixed center center / cover;
    background:rgba(0, 0, 0, 0) url("../img/gs_bg1.jpg") no-repeat fixed center center / cover;
    background:rgba(0, 0, 0, 0) url("../img/login_bg10.jpg") no-repeat fixed center center / cover;*/
    background-size: cover;
} 
.dashboard-screen-content{
    /*background:#afd89f;    
    background: #0d0850;*/
    /*background: #afd89f;*/
    background:rgba(0, 0, 0, 0) url("../img/dashboard.jpg") no-repeat fixed center center / cover;
    /*background:rgba(0, 0, 0, 0) url("../img/login_bg.jpg") no-repeat fixed center center / cover;*/


    /*background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);*/
    /*background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);*/
    /*background:rgba(0, 0, 0, 0) url("../img/login_bg6.jpg") no-repeat fixed center center / cover;
    background:rgba(0, 0, 0, 0) url("../img/gs_bg1.jpg") no-repeat fixed center center / cover;
    background:rgba(0, 0, 0, 0) url("../img/login_bg10.jpg") no-repeat fixed center center / cover;*/
    background-size: cover;
} 
.dark-blue{
  /*color: #0551bf;*/
  color:#0174C5;
}
.link-blue{
  color: #4689e9;
}
.login-content,.text-center{
    text-align: center;
}

.logo { 
    line-height: 85px;
}
#reg_formDiv{
    margin: 0 auto;
    display: block;
} 
.inputbox{
	/*margin: 0 45px 15px 45px;
    width: 100%;*/
    margin: 0 7px 15px 38px;
}
.txt-blue{
  color: #00d1ff;
}
a {
    text-decoration: none;
    color: #777;
}
.login-screen-content .inputbox i{
    background: rgba(229, 229, 229, 0.3) none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 35px;
    line-height: 33px;
    position: absolute;
    /*width: 35px;
    right: 78%;    */
    width: 37px;
    right: 79%;
} 
.pos-abs{
  position: absolute;
}
.pos-fix{
  position: fixed;
}
.bell_badge{
  margin-left: -22px!important;
  top: -6px!important;
}
.login-screen-content .inputbox input{
    /*background: rgba(230, 169, 169, 0.1) none repeat scroll 0 0;*/
    background: rgba(255, 255, 255, 0.12) none repeat scroll 0 0;
    /*border: medium none;    */
    /* border: 1px solid; */ 
    border-radius: 50px;
    color: #fff;
    height: 35px;
    margin-bottom: 15px;
    text-align: center;
    /*width: 75%;*/
    width: 90%;
}
.mb-2{
  margin-bottom: 2px;
}
.login-button {
    /*margin: 0 auto;
    margin:0 45px 0 45px;*/
    margin: 0 38px 0 38px;
    position: relative;
    text-align: center;
    /*width: 75%; */
    width: 79%;
}
.login-screen-content .login-button a {
    /*background: #1bbc9b none repeat scroll 0 0;
    background: #006D5B none repeat scroll	0 0;*/
    background:rgba(255, 255, 255, 0.31)!important;
    border-radius: 50px;
    color: #fff;
    display: block;
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    /*border: 1px solid;*/
}
.login_change{
    background: #018137!important;
    border: none!important;
    margin: 0 38px 0 38px;
    position: relative;
    text-align: center;
    width: 79%;
    height: 35px;
    line-height: 35px;
    border-radius: 50px;
}
.color-red{
  background-color: #800000!important;
}
.txtrd{
  color: #800000!important;
}
.color-green{
  background-color: #008036!important;
}
.sgl-orange{
  color: #F69000;
}
.showpass{
  position: absolute;
  right: 14%;
  padding-top: 2%;
}
.text-white{
    color:white;
}
.navbg{
    /*background-color: #47525d;*/
    background-color: #f69000;
}
div.container4 { 
    height: 10em;
    position: relative;
}
div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 600;
}
.text-uppercase{
    text-transform: uppercase;
}
.pagebg_clr,#addvst{
    /*background:#afd89f;*/
}
.floatlbl_placeholder{
    color: #527146!important;
}
.md .item-input:not(.item-input-outline) .txtbox_border:after,.veh_searchbtn{
    background-color:#527146!important; 
}
.readonly_txt{
    background-color: #fff3f347!important;
}
.readonlytxtbox{
  background-color: #ecebeb!important;
}
.m-0{
  margin: 0;
}
.pl-90p{
  padding-left: 90px!important;
}
.lf-0{
  left: 0!important;
}
.ml-0{
  margin-left: 0px!important;
}
.ml-5{
  margin-left: 5px!important;
}
.ml-12p{
    margin-left: 12%!important;
}
.over_scroll{
    overflow: scroll!important;
}
.fw-500{
  font-weight: 500!important;
}
.fw-600{
  font-weight: 600!important;
}
.text-red{
    color: red;
}
.mt-2{
    margin-top: 2%!important;
}
.mt-5{
    margin-top: 5%!important;
}
.mt-5p{
    margin-top: 5px!important;
}
.mt-10{
    margin-top: 10%;
}
.mt-25{
    margin-top: 25%;
}
.mb-15{
    margin-bottom: 15px;
}
.mr-5{
  margin-right: 5px;
}
.mr-10{
  margin-right: 10px;
}
.fs-11{
  font-size: 11px!important;
}
.fs-12{
  font-size: 12px!important;
}
.fs-13{
  font-size: 13px!important;
}
.fs-14{ 
  font-size: 14px!important;
} 
.fs-10{
  font-size: 10px;
}
.fs-9{
  font-size: 9px;
}
.fs-18{
    font-size:18px;
}
.fs-20{
    font-size:20px;
}
.mt-6{
  margin-top: 6%!important;
}
.w-100{
    width: 100%;
}
.uploadDiv{
  height: 150px;
}
.picbox{
  /*background-color: #d6d6ff!important;
  background-color: rgba(143, 144, 144, 0.32)!important;
  padding: 5%!important;
  border: 1px dashed darkgray;
  height: 140px!important;
  margin: 0 auto;
  font-size: 12px;
  width: 100%;
  text-align: center;*/
  border: 1px dashed darkgray;
  height: 90px;
  margin: 0 auto;
  font-size: 12px;
  width: 30%!important;
  text-align: center;
}
.picbox-text{
  color: #848383!important;
}
.innerDiv{
  margin-top: 25%!important;
}
.wh-70{
  height: 70px;
  width: 70px;
}
.wh-60{
  height: 60px;
  width: 60px;
}
.no-bg{
  background: none!important;
}
.td_border{
  border: 1px solid #000;
}
.pl-8p{
  padding-left: 8px!important;
}
.pl-0{
  padding-left: 1%!important;
}
.pl-9{
  padding-left: 8%!important;
}
.pl-10{
  padding-left: 10%!important;
}
.pl-zero{
  padding-left:0px!important; 
}
.pl-20p{
  padding-left: 20px;
}
.td_txt{
  font-size: 12px!important;
  text-align: center!important;
  /*border: 1px solid #00d1ff!important;*/
  border:1px solid #0174C5!important;
  /*padding: 15%!important;*/
  width: 145%!important; 
}
.tbl-cell{
  display: table-cell;
}
.num_plate{
  border: 2px solid #527146!important;
  padding: 10%!important;
}
.md .item-input-focused:not(.item-input-outline) .item-input-wrap:after{
  transform: none!important;
  
}
.md .item-input:not(.item-input-outline) .item-input-wrap :after{
  background-color: none!important;
  background: none!important;
}
.item-input-wrap .item-input-notxtborder:after{
  transform: none!important;
  background: #afd89f!important;
}
.notxtborder:after{
  background: none!important;
}
.card-border{
  border: 2px solid #527146;
}
.light-thead{
  /*background: #afd89f;*/
  background:#cbd3db;
}
.tdstyle{
  width:55%;
  padding-right: 0px!important;
}
#triangle-topleft-done {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    display: block;
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-top:30px solid #459e54;
}
.donefont{
  color: #ffffff!important;
  transform: rotate(45deg);
  font-size: 7px!important;
  position: absolute;
  top: -24px;
}
#triangle-topleft-pending {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    display: block;
    border-left: 45px solid transparent;
    border-bottom: 45px solid transparent;
    /*border-top:45px solid #929eaa;*/
    border-top:45px solid #ffc646;
}
#triangle-topleft-rejected {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    display: block;
    border-left: 45px solid transparent;
    border-bottom: 45px solid transparent;
    /*border-top:45px solid #db2217;*/
    border-top:45px solid #800000;
}
#triangle-topleft-approve {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    display: block;
    border-left: 45px solid transparent;
    border-bottom: 45px solid transparent;
    /*border-top:45px solid #459e54;*/
    border-top: 45px solid #018137;
}
.impfont{
    color: #ffffff!important;
    transform: rotate(45deg);
    font-size: 7px!important;
    position: absolute;
    top: -42px;
    margin-top: 17px; 
}
.done_chk_approve{
  color:#fff!important; 
}
.rd-badge{
  background: #db2217;
}
.color-fbtn{
  background-color: #f69000!important;
}
/*.toast{
  background-color: #f69000!important;
}*/
.sgl-green{
  background-color: #018137;
}
.sgl-blue{
  background-color: #0174C5;
}
.color-sgl-green{
  color: #018137;
}

.jmrdata th{
  padding-right: 0px!important;
  background-color: #cfebff!important;
  padding-left: 4%!important;
  width: 70px!important;
}
.jmrdata td{
  /*padding-right: 5%!important;*/
  /*padding-right: 3%!important;  
  padding-left: 4%!important;*/
  padding-right: 18px!important;
  padding-left: 18px!important;
  color: #000;
}
.pr-9p{
  padding-right:9%;
}

/*.data-table th:first-child,.data-table th.cell-label,.data-table td:first-child{
  f7-table-cell-padding-left: 0!important; 
  f7-table-cell-padding-right: 0!important;  
}*/
.data-table th:first-child{
  f7-table-cell-padding-left: 0!important;
}
}
/************************************* PDF CSS **************************************/
@page {
  margin: 2mm;
  margin-header: 2mm;
  margin-footer: 2mm;
}

/*#container{
  border:1px solid #000;
  padding:10px;
}*/
.head{
  height:100px;
}
.head img{height:30px;}
.mb0{margin-bottom:0px;}
.mt0{margin-top:0px;}
.total{
  text-align:right;
}